{% extends "base.html.njk" %}

{% block body %}
<div class="login-hero">
    <h1>Welcome to <strong>{{ app.name }}</strong></h1>
    <h2>Welcome to the home of the {{ app.name }} system.</h2>

    <p>{{ app.name }} is the central account manager for the KDE.org infrastructure.</p>
    <p>A {{ app.name }} account allows unified access to most KDE.org websites, and commit access to the various code repositories.</p>
</div>
{% endblock %}
